In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [9]:
data = pd.read_csv('data/movie_bd_v5.csv')
data.head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
6,tt1340138,155000000,440603537,Terminator Genisys,Arnold Schwarzenegger|Jason Clarke|Emilia Clar...,Alan Taylor,Reset the future,"The year is 2029. John Connor, leader of the r...",125,Science Fiction|Action|Thriller|Adventure,Paramount Pictures|Skydance Productions,6/23/2015,5.8,2015
7,tt3659388,108000000,595380321,The Martian,Matt Damon|Jessica Chastain|Kristen Wiig|Jeff ...,Ridley Scott,Bring Him Home,"During a manned mission to Mars, Astronaut Mar...",141,Drama|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Scott F...,9/30/2015,7.6,2015
8,tt2293640,74000000,1156730962,Minions,Sandra Bullock|Jon Hamm|Michael Keaton|Allison...,Kyle Balda|Pierre Coffin,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",91,Family|Animation|Adventure|Comedy,Universal Pictures|Illumination Entertainment,6/17/2015,6.5,2015
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015

In [4]:
len(data)

1889

In [6]:
# Check for the null objects
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [44]:
answers = {} # dictionary for the answers

In [45]:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

In [46]:
# let's create a new column with "profit" values:
data['profit'] = data.revenue - data.budget

In [47]:
# dataframe with year 2008 movies:
movies_2008 = data[data.release_year == 2008]

In [48]:
# dataframe with years 2012 - 2014 movies:
movies_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]

In [49]:
# let's make a dataframe containing "Action" genre (to solve task 14):
action_movies = data[data.genres.str.contains('Action', na=False)].copy()

In [50]:
# Let's split genres:
data['genres'] = data['genres'].apply(lambda x: x.split('|'))

In [51]:
# Now split actors:
data['cast'] = data['cast'].str.split('|')

In [52]:
# And split the production companies:
data['production_companies'] = data['production_companies'].str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

#### Вариант 1

In [11]:
# quite a simple code to solve the 1st question:
max_budget = data.loc[data['budget'] == data['budget'].max()]
max_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2011-05-11,6.3,2011,641683000

In [81]:
answers['1'] = "5. Pirates of the Caribbean: On Stranger Tides (tt1298650)"

#### Вариант 2

In [12]:
# another way to solve
max_budget_v2 = data['budget'].max()
data.loc[data['budget'] == max_budget_v2, 'original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [13]:
max_runtime = data.loc[data['runtime'] == data["runtime"].max()]
max_runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2003-02-21,5.8,2003,-43076064

In [82]:
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
min_runtime = data.loc[data['runtime'] == data["runtime"].min()]
min_runtime

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...",Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",2011-04-13,6.8,2011,-15540000

In [83]:
answers['3'] = "3. Winnie the Pooh (tt1449283)"

# 4. Какова средняя длительность фильмов?

In [17]:
mean_runtime = round(data['runtime'].mean())
mean_runtime

110

In [84]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [19]:
runtime_median = data['runtime'].median()
runtime_median

107.0

In [85]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [21]:
max_profit = data.loc[data['profit'] == data['profit'].max()]
max_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",2009-12-10,7.1,2009,2544505847

In [86]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [23]:
min_profit = data.loc[data['profit'] == data['profit'].min()]
min_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",2013-07-03,6.0,2013,-165710090

In [87]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
exceeded_budget = data.budget[data.revenue > data.budget].count()
exceeded_budget

1478

In [88]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
max_profit_2008 = movies_2008.loc[movies_2008.profit == movies_2008.profit.max()]
max_profit_2008

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [89]:
answers['9'] = "4. The Dark Knight (tt0468569)"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
min_profit_2012_2014 = movies_2012_2014.loc[movies_2012_2014.profit == movies_2012_2014.profit.min()]
min_profit_2012_2014

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [90]:
answers['10'] = "5. The Lone Ranger (tt1210819)"

# 11. Какого жанра фильмов больше всего?

In [31]:
# Splitting genres to separate raws
genres_data = data['genres'].explode()

# counting entries and sorting:
genres_data.value_counts().sort_values(ascending=False).head(1)

Drama    782
Name: genres, dtype: int64

In [91]:
answers['11'] = "3. Drama"

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
# separating genres to different raws
most_profit_genre = data.explode('genres')

# Leaving only profitable movies:
most_profit_genre = most_profit_genre[most_profit_genre['profit'] > 0]

# counting entries:
most_profit_genre['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [92]:
answers['12'] = "1. Drama"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [35]:
data = pd.read_csv('data/movie_bd_v5.csv')

# creating a pivot table:
df = pd.pivot_table(data,index=["director"],values=['revenue'],aggfunc=np.sum)

# locating the entry with the maximum profit:
best_director = df.loc[df['revenue'] == df['revenue'].max()]
best_director

                  revenue
director
Peter Jackson  6490593685

#### Вариант 2

In [36]:
# another way to solve with pivot table and sort_values():
df = pd.pivot_table(data,index=["director"],values=['revenue'],aggfunc=np.sum)
df.sort_values(by=['revenue'], inplace=True, ascending=False)
df

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

In [93]:
answers['13'] = "5. Peter Jackson"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [38]:
# Let's separate directors:
action_movies['director'] = action_movies['director'].apply(lambda x: x.split('|'))

# Now let's transform each element of a list-like to a row
action_movies = action_movies.explode('director')

# Finally, let's count the number of entrances:
action_movies.director.value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Tarsem Singh          1
BjÃ¶rn Stein          1
Kevin Smith           1
Troy Duffy            1
Sydney Pollack        1
Name: director, Length: 364, dtype: int64

In [94]:
answers["14"] = "3. Robert Rodriguez"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [54]:
profit_actor_2012 = data[data.release_year == 2012]
profit_actor_2012 = profit_actor_2012.explode('cast')
profit_actor_2012.groupby('cast').revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [95]:
answers['15'] = "3. Chris Hemsworth"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [53]:
top_actor = data[data.budget > data.budget.mean()]
top_actor = top_actor.explode('cast')
top_actor.cast.value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
                  ..
Mitchel Musso      1
Yaya DaCosta       1
Lennie James       1
Chris Mulkey       1
Kimberly Elise     1
Name: cast, Length: 1505, dtype: int64

In [96]:
answers['16'] = "3. Matt Damon"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [56]:
cage_genres = data.explode("cast")
cage_genres = cage_genres[cage_genres.cast == "Nicolas Cage"]
cage_genres = cage_genres.explode("genres")
cage_genres.genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

In [97]:
answers['17'] = "2. Action"

# 18. Самый убыточный фильм от Paramount Pictures

In [58]:
paramount_data = data.explode("production_companies")
paramount_data = paramount_data[paramount_data.production_companies == 'Paramount Pictures']
paramount_min_profit = paramount_data.loc[paramount_data.profit == paramount_data.profit.min()]
paramount_min_profit

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,2002-07-19,6.0,2002,-64831034

In [98]:
answers['18'] = "1. K-19: The Widowmaker (tt0267626)"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [59]:
most_successful_year = data.groupby("release_year").revenue.sum().sort_values(ascending=False)
most_successful_year.head(2)

release_year
2015    25449202382
2014    23405862953
Name: revenue, dtype: int64

In [99]:
answers['19'] = "5. 2015"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [61]:
warner_data = data.explode("production_companies")
warner_data = warner_data[warner_data.production_companies.str.contains('Warner')]
warner_profit_year = warner_data.groupby("release_year").profit.sum().sort_values(ascending=False)
warner_profit_year

release_year
2014    2292949646
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     622332868
2000     452631386
Name: profit, dtype: int64

In [100]:
answers['20'] = "1. 2014"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [63]:
most_movies_month = data
most_movies_month['month'] = pd.DatetimeIndex(data['release_date']).month
most_movies_month.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [101]:
answers['21'] = "4. Сентябрь"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [65]:
summer_movies = data
summer_movies['month'] = pd.DatetimeIndex(data['release_date']).month
summer_movies = summer_movies.query('month in ["6","7","8"]')
summer_movies.month.value_counts().sum()

450

In [102]:
answers['22'] = "2. 450"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [67]:
winter_data = data
winter_data['month'] = pd.DatetimeIndex(data['release_date']).month
winter_months = winter_data.query('month in ["12","1","2"]')
winter_director = winter_months.explode('director')
winter_director.groupby("director").month.sum().sort_values(ascending=False)

director
Peter Jackson          84
Clint Eastwood         61
Steven Soderbergh      51
Nancy Meyers           48
Martin Scorsese        38
                       ..
Richard LaGravenese     1
Michael Lembeck         1
David R. Ellis          1
Renny Harlin            1
Kelly Asbury            1
Name: month, Length: 332, dtype: int64

#### Вариант 2

In [68]:
Counter(winter_director['director']).most_common(1)

[('Peter Jackson', 7)]

In [103]:
answers['23'] = "5. Peter Jackson"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [70]:
title_data = data.explode('production_companies')

# adding a column with the quantity of words:
title_data['title_len'] = title_data['original_title'].apply(len)

title_data.groupby('production_companies')['title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

In [104]:
answers['24'] = "5. Four By Two Productions"

# 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

In [72]:
overview_data = data.explode('production_companies')

# adding a column with the quantity of words:
overview_data['overview_len'] = overview_data['overview'].str.split().apply(len)

overview_data.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

In [105]:
answers['25'] = "3. Midnight Picture Show"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [74]:
# sorting data
best_1_percent = data.sort_values('vote_average', ascending=False)

# picking top 1%
best_1_percent['original_title'].iloc[: int(round(len(best_1_percent) / 100))]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

#### Вариант 2

In [75]:
best_1_percent_v2 = data.vote_average.quantile(0.99)
best_1_percent_v2 = data.loc[data.vote_average > best_1_percent_v2][['original_title','vote_average']]
best_1_percent_v2.sort_values(by="vote_average", ascending=False)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [106]:
answers['26'] = "1. Inside Out, The Dark Knight, 12 Years a Slave"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [77]:
filming_together = data
filming_together = filming_together['cast'].reset_index()
# adding column containing pairs of actors
filming_together['pairs'] = filming_together['cast'].apply(lambda s: list(itertools.combinations(s, 2)))

# spreading dataset for each pair of actors
filming_together = filming_together.explode('pairs').reset_index()

# counting the most frequent pairs
Counter(filming_together['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [107]:
answers['27'] = "5. Daniel Radcliffe & Rupert Grint"

# Submission

In [113]:
# at the end we can our answers to each question
answers

{'16': '3. Matt Damon',
 '17': '2. Action',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '18': '1. K-19: The Widowmaker (tt0267626)'}

In [114]:
# and confirm that we didn't miss anything
len(answers)

27